* {
    margin: 0;
    padding: 0;
}
.login-bg {
    background-image: url(../Images/fundoLogin.png);
    background-size: cover; /* ou "contain" se preferir */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#formLogin {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

    #formLogin label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    #formLogin input[type="text"], #formLogin input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }

#btnEntrar {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
